<div *ngIf="currentPage==formNumber" class="container py-3 d-flex ">
    <div class="m-auto col-10 col-md-8">
        <form class="p-4 rounded-5 " [formGroup]="form">
            <div *ngFor="let q of quitions">
                <p class="mb-0" dir="rtl">{{q[2]}}-{{q[0]}}</p>
                <p>{{q[2]}}-{{q[1]}}</p>
                <div dir="rtl" class="mb-3 d-flex justify-content-between">
                    <div>

                        <input id="quition{{q[2]}}" type="radio" value="1" formControlName="quition{{q[2]}}" name="quition{{q[2]}}">
                        <label class="me-2" for="quition{{q[2]}}">1</label>
                    </div>
                    <div>

                        <input id="quition{{q[2]+1}}" type="radio" value="2" formControlName="quition{{q[2]}}" name="quition{{q[2]}}">
                        <label class="me-2" for="quition{{q[2]+1}}">2</label>
                    </div>
                    <div>

                        <input id="quition{{q[2]+2}}" type="radio" value="3" formControlName="quition{{q[2]}}" name="quition{{q[2]}}">
                        <label class="me-2" for="quition{{q[2]+2}}">3</label>
                    </div>
                    <div>

                        <input id="quition{{q[2]+3}}" type="radio" value="4" formControlName="quition{{q[2]}}" name="quition{{q[2]}}">
                        <label class="me-2" for="quition{{q[2]+3}}">4</label>
                    </div>
                    <div>

                        <input id="quition{{q[2]+4}}" type="radio" value="5" formControlName="quition{{q[2]}}" name="quition{{q[2]}}">
                        <label class="me-2" for="quition{{q[2]+4}}">5</label>
                    </div>
                    <div>

                        <input id="quition{{q[2]+5}}" type="radio" value="6" formControlName="quition{{q[2]}}" name="quition{{q[2]}}">
                        <label class="me-2" for="quition{{q[2]+5}}">6</label>
                    </div>
                    <div>

                        <input id="quition{{q[2]+6}}" type="radio" value="7" formControlName="quition{{q[2]}}" name="quition{{q[2]}}">
                        <label class="me-2" for="quition{{q[2]+6}}">7</label>
                    </div>


                </div>
                <hr>

            </div>
            <div class="text-center">
                <button type="submit" (click)="handelNext($event)" class="btn btn-primary rounded-4 px-3">Next / التالي</button>
            </div>
        </form>
    </div>

</div>