<section class="py-3 hero mb-5 pb-5 position-relative">
    <div class="container p-3">
        <div class="d-flex justify-content-between align-items-center row">
            <div class="col-6">

                <div>
                    <img class="w-75" src="../../assets/55555.png" alt="">
                </div>
            </div>
            <div dir="rtl" class=" col-6">
                <h5>شركة معارف للتعليم</h5>
                <h5>الإدارة الأكاديمية </h5>
                <h5> قسم التوجيه والإرشاد</h5>
            </div>
        </div>
        <div class="text-center py-5 mb-5">
            <h2>FUTURE CAREER</h2>
        </div>
        <div class="row ">
            <div class="col-md-4 p-3">
                <div
                    class="bg-body-tertiary rounded-5 overflow-hidden p-3 shadow h-100 d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-between row align-items-center mb-3">
                        <div class="col-5">
                            <img class="w-100" src="../../assets/blobid1627218317141.jpg" alt="">
                        </div>
                        <div dir="rtl" class="col-6">
                            <p>التسجيل في الدورات</p>
                            <p>Register for courses</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="https://forms.gle/WkqAVupbSAiUXHYq9" class="btn btn-danger">Register / التسجيل</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="bg-white rounded-5 overflow-hidden p-3 shadow h-100">
                    <div class="d-flex justify-content-between row align-items-center mb-3">
                        <div class="col-5">
                            <img class="w-100" src="../../assets/ejwfkp.jpg" alt="">
                        </div>
                        <div dir="rtl" class="col-6">
                            <p>مواعيد التسجيل في الجامعات</p>
                            <p>University registration periods</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="https://sajjel.me/" class="btn btn-primary">view / الاطلاع</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="bg-white rounded-5 overflow-hidden p-3 shadow h-100">
                    <div class="d-flex justify-content-between row align-items-center mb-3">
                        <div class="col-5">
                            <img class="w-100" src="../../assets/WhatsApp Image 2024-01-29 at 7.39.08 PM.jpeg" alt="">
                        </div>
                        <div dir="rtl" class="col-6">
                            <p>اكتشف ميولك المهنية</p>
                            <p>Discover your career interests</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <button routerLink="/register" class="btn btn-success">Exam / الأختبار</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="admin" class="position-absolute text-info p-5">admin</a>
</section>

<section class="my-5">
    <div class="container bg-body-tertiary rounded-5 p-5">
        <div class="row justify-content-between align-items-center">
            <div class="col-6 col-md-5 m-auto mb-4">
                <div>
                    <img class="w-75" src="../../assets/Image_01.png" alt="">
                </div>
            </div>
            <div dir="rtl" class="col-md-6">
                <h4>عزيزي الطالب:</h4>
                <p>
                    الآن وأنت على أبواب التخرج من الثانوية العامة لابد أن تعطي نفسك الوقت الكافي للتفكير في السؤال
                    التالي:<br>
                    س / ما هو التخصص الجامعي الذي يناسبني؟وماهي المهنة التي تناسبني ؟<br>
                    للجواب عليك إتباع خطوات التخطيط المهني التالية:<br>
                    1- تعرف أكثر على ذاتك : شخصيتك, ميولك قدراتك, مهاراتك .<br>
                    2- تعرف أكثر على مختلف التخصصات الجامعية والمهن التي يحتاجها سوق العمل.
                    ولان القرار في النهاية لك أنت فان هذا الاختبار قد يساعدك في اكتشاف تخصصك الدراسي ومهنتك المستقبلية
                </p>
                <h4 dir="ltr">Dear student:</h4>
                <p dir="ltr">
                    Now that you are about to graduate from high school, you must give yourself enough time to think
                    about the following question:<br>
                    Q/ What university major suits me? What profession suits me?<br>
                    To answer, you must follow the following career planning steps:<br>
                    1- Get to know more about yourself: your personality, abilities, and skills.<br>
                    2-Learn more about the various university majors and professions needed by the labor market.
                    The decision is ultimately yours, as this test may help you discover your academic major and future
                    profession.</p>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="container bg-body-tertiary rounded-5 p-5">
        <div class="row justify-content-between align-items-center">

            <div dir="rtl" class="col-md-6">

                <p class="mb-5">
                    ان كنت قد عقدت الأمر مسبقا على مهنة محدده فقد يدعم هذا الكتيب فكرتك أو يقترح احتمالات أخرى.
                    إن لم تكن متيقنا من اتخاذ قرار اختيار مهنة معينة فربما يساعدك هذا الكتيب على تحديد مجموعه من المهن .
                    هذا ويجد الكثيرون متعة في تعبئة هذا الكتيب وأنت كذلك إذا اتبعت الخطوات بدقه ستجد متعه فلا تتعجل
                    لتعرف المزيد عبر الوصول إلى الهدف بالتفكير.</p>

                <p dir="ltr">
                    If you have already made up your mind about a specific career, this booklet may support your idea or
                    suggest other possibilities.
                    If you are not sure about making the decision to choose a specific profession, this booklet may help
                    you determine a group of professions.
                    Many people find it fun to fill out this booklet, and you will also find it fun if you follow the
                    steps carefully. Do not rush to learn more by</p>
            </div>
            <div class="col-6 col-md-5  m-auto">
                <div class="d-flex justify-content-center">
                    <img class="w-50" src="../../assets/images.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container bg-body-tertiary p-5 rounded-5 mb-5">
        <h4 class="mb-5 text-center">
            More Services  / المذيد من الخدمات 
        </h4>
        <div class="row text-center">
            <div class="col-md-3 mb-3 p-3">
              <div class=" rounded-5 bg-body-secondary p-4 h-100 d-flex flex-column justify-content-between">
                <div class=" fw-bold mb-3">
                    <p dir="rtl" class="mb-0">احصل على استشارة مهنية</p>
                    <p class="mb-0">Carer Counseling</p>
                </div>
                <div class="text-center">
                    <a href="https://forms.gle/weTGBLiy6ojHR9ne8" class="btn btn-primary">اضغط هنا</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3 p-3">
                <div class=" rounded-5 bg-body-secondary p-4 h-100 d-flex flex-column justify-content-between">
                  <div class=" fw-bold mb-3">
                      <p dir="rtl" class="mb-0">الجامعات الدولية المصنفة والمعتمدة</p>
                      <p class="mb-0">Ranked and accredited international universities</p>
                  </div>
                  <div class="text-center">
                      <a href="https://ru.moe.gov.sa/Search" class="btn btn-primary">اضغط هنا</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3 p-3">
                <div class=" rounded-5 bg-body-secondary p-4 h-100 d-flex flex-column justify-content-between">
                  <div class=" fw-bold mb-3">
                      <p dir="rtl" class="mb-0">الجامعات الحكومية والأهلية</p>
                      <p class="mb-0">Public and private universities</p>
                  </div>
                  <div class="text-center">
                      <a href="https://moe.gov.sa/ar/education/highereducation/Pages/PrivateUniversity.aspx" class="btn btn-primary">اضغط هنا</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-3 p-3">
                <div class=" rounded-5 bg-body-secondary p-4 h-100 d-flex flex-column justify-content-between">
                  <div class=" fw-bold mb-3">
                      <p dir="rtl" class="mb-0">محرك شنغهاي للجامعات</p>
                      <p class="mb-0">shanghai ranking</p>
                  </div>
                  <div class="text-center">
                      <a href="https://www.shanghairanking.com/" class="btn btn-primary">اضغط هنا</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="container  bg-body-tertiary p-5 rounded-5">
        <div>
            <h4 class="mb-5 text-center">Contact Us / تواصل معنا</h4>
            <div class="d-flex justify-content-between align-items-center row">
                <div class="col-md-6">
                    <a class="d-flex  align-items-center fs-5 text-black  "
                        href="https://www.linkedin.com/in/hassan-ali-elraiy-527836138">
                        <i class="fas fab fab fa-linkedin me-3 text-primary"></i>
                        <p class="mb-0 fw-bold">Linked In</p>
                    </a>
                    <a class="d-flex align-items-center fs-5 text-black " href="mailto:hae140184@gmail.com">
                        <i class="fa-regular fa-envelope me-3 text-danger"></i>
                        <p class="mb-0 fw-bold">Mail</p>
                    </a>

                </div>
                <div class="d-flex justify-content-end col-md-6">
                    <img class="w-75" src="../../assets/55555.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>